<head>
    <title>EXCEL PAGE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
</head>

<header class="header">
    <div class="sheet-tabs">
    <div class="sheet-tab active"><a routerLink="/body" roueterLinkActive="active">HOME</a></div>
    <div class="sheet-tab"><a routerLink="/about" roueterLinkActive="active">ABOUT</a></div>
    <div class="sheet-tab"><a routerLink="/user" roueterLinkActive="active">USER</a></div>
  </div>
</header>

  
